.container{
    max-width: 100%;
  
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

}



#find{

    background-color: rgba(13,110,253,0.05);
    height: fit-content;
    text-align: center;
    padding-top: 20px;

}


#find h1{
    color: blue;
    font-size: 60px;
}


#find p {
       color: gray;
}


#but {
    color: white;
    border-radius: 6px;
    background-color:#007bff;
    height: 40px;
    width: 120px;
    margin-right:10px;
    font-size: 15px;
    border: none;
  
}




#fem {
    color: #007bff;
        height: 40px;
         border-radius: 6px;
         background-color: white;
        width: 120px;
         border: 1px solid #007bff;
         font-size: 15px;

}




#but a, #fem a, .retun a {
  text-decoration: none;
 
}


#fem:hover {
  
    background-color: #007bff;
}


#fem:hover a{
     color: white;
}




.cards {
    display: flex;
    padding-left: 180px;
    gap: 50px;

   
}


.host h2{
      padding-left: 180px;
      color: #007bff;
      padding-bottom: 20px;
      font-size: 35px;
}






.login {
  width: 45%;
  margin: auto;
  padding: 40px 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

#contact label,
#contact input,
#contact button,
#contact p,
#contact textarea{
  width: 100%;
}


#contact{
  padding-top: 70px;
      text-align: center;
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;


}

#contact label {
  text-align: left;
  display: block;
  font-size: 20px;
  margin-bottom: 6px;
}


#contact h2{
  font-size: 28px;
  text-align: left;
  display: block;
  width: 40%;
  text-align: left;
  margin-bottom: 26px;
}
#contact h3{
    text-align: center;
    color: #007bff;
    font-size: 34px;
    margin-bottom: 30px
}



 #contact input{
  padding: 12px 40px;
  padding-right: 60px; 
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 6px;
   border-radius: 6px;
  padding: 12px;
  
        }


  #contact button{
      background-color: #007bff;
      padding: 12px 45px 12px 40px;
      color: #fff;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      font-size: 23px;
      border-radius: 6px;
        padding: 12px;
  }


  #contact textarea{
    height: 200px;
    font-size: 18px;
  }


  #contact select{
      width: 40%; 
      height: 40px;
  padding: 12px 40px;
  padding-right: 60px; 
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: white;
    
  }



  #contact a{
    color: #007bff;
    text-decoration: underline;
  }




  .host_details{
    padding: 50px 150px;
    display: flex;
 
  }


  .host_details img{
    height: 500px;
    width: 70%;
    object-fit: cover;
    padding-top: 10px;
    border-radius: 16px;
  }


  .host_details h2{
    font-size: 30px;
  }


 
#amenities{
  display: flex;
  gap: 20px;
}


.gallery {
  margin-top: 20px;
 
}

.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.gallery-grid img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;

}

.gallery-grid img:hover {
  transform: scale(1.05);
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-image {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}




