.header{
    display: flex;
    text-align: center;
    background-color: white;
    height: 80px;
    width: 100%;
    padding-left: 60px;
    padding-top: 20px;
    justify-content: space-between;
}


.header img{
    width: 40px;
    height: 35px;
}



#links{
    padding-left: 10px;
    padding-right: 10px;
}


#links a{
    color: gray;
    text-decoration: none;
     margin-right: 30px;
     text-align: center;
}



#links a:hover{
    color: black;
}




#links button:hover{
      background-color: #007bff;
   
}


#links button:hover a {
  color: white;
}